//Footer

.product-footer {
	.navbar-nav {
		li {
			a:hover {
				background-color: transparent;
			}
		}
	}
	.bottom-ftr {
		padding-bottom: 10px;
		.ftr-terms {
        padding-top: 10px;
		}
		.ftr-social {
			.fa {
				
			}
		}
		padding-top: 50px;
		
		.product-logo {
			padding-top: 10px;
		width: 100px;

	}
	}
	
	padding-top: 30px;
	padding-bottom: 0px;
	background-color: $trimble-gray;
	.upper-ftr {
		ul > li:first-child {
			font-weight: $regular;
			font-size: $font-size-large;
			display: block;
			padding-bottom: 3px;
			border-bottom: 1px solid $trimble-blue;
			a {
				color: $white;
			}
		}
		li:nth-child(2) {
			padding-top: 5px;		
		}
	}
	li {
		list-style: none;
		font-size: $font-size-base;
		font-weight: $regular;
	}
	li > a {
		color: $white;
		line-height: 1.5rem;
		
		&:hover,
	  	&:focus,
	  	&.focus {
		    color: $trimble-yellow;
		    text-decoration: none;
  		}

	}

}

