//== Theme varibles to reset the Core Bootstrap files. They are loaded in main.scss before bootstrap.scss
//
//## Gray and brand colors for use across Bootstrap.
// No changes made to base gray yet...

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

// Changes to the bootstrap default to our brand colors

$brand-primary:         $sketchup-red !default; // #e72b3d
$brand-success:         $trimble-green !default; // #4d6f33
$brand-info:            $sketchup-gray !default; // #4d5259
$brand-warning:         $trimble-yellow !default; // #fca911
$brand-danger:          $trimble-red !default; // #a51d25

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $sketchup-gray !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 10%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  $open-sans !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          ceil(($base-font-size * 1.6)) !default; // ~16px
$font-size-large:         ceil(($base-font-size * 2.0)) !default; // ~20px
$font-size-small:         ceil(($base-font-size * 1.2)) !default; // ~12px

// Integrating with our variables 
$font-size-h1:            $h1-font-size !default; // ~36px
$font-size-h2:            $h2-font-size !default; // ~30px
$font-size-h3:            $h3-font-size !default; // ~24px
$font-size-h4:            $h4-font-size !default; // ~18px
$font-size-h5:            $h5-font-size !default;
$font-size-h6:            $h6-font-size !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        $base-line-height; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base )) !default; // ~15px

// Taken out the radius from Bootstrap defaults
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                $regular !default;

$btn-default-color:              #fff !default;
$btn-default-bg:                 $sketchup-medgray!default;
$btn-default-border:             $sketchup-medgray !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $brand-primary !default; 

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $brand-success !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                $brand-info !default;

$btn-warning-color:              $gray !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             $brand-warning !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              $brand-danger !default;

$btn-link-disabled-color:        $gray-light !default;

//== Adjustments for Jumbotron from Bootstrap Defaults
//
//##

$jumbotron-padding:              40px !default;
$jumbotron-color:                inherit !default;
$jumbotron-bg:                   $white !default;
$jumbotron-heading-color:        inherit !default;
$jumbotron-font-size:            ceil(($font-size-base * 1.5)) !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-success !default;
$state-success-bg:               $brand-success !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $brand-info !default;
$state-info-bg:                  $brand-info !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             $brand-warning !default;
$state-warning-bg:               $brand-warning !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              $brand-danger !default;
$state-danger-bg:                $brand-danger!default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;







